* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.dropdown {
  width: fit-content;
  border: 1px solid rgb(42, 147, 28);
  background-color: rgb(151, 243, 128);
  padding: 8px 16px;
  font-size: 1.25rem;
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  width: 100%;
  list-style: none;
  border: 1px solid rgb(147, 141, 28);
  color: black;
}

.dropdown-menu li {
  padding: 2px 8px;
  width: 100%;
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
}

.dropdown-menu li:hover {
    opacity: 80%;
}

.ham {
  background-color: #ffb3ba;
}
.cheese {
  background-color: #ffda56;
}
.bread {
  background-color: #f5deb3;
}
